body {
    margin: 0;
    padding: 0;
 }

header {
    display: flex;
    top:0;
    width: 100%;
    height: 60px;
    background-color:#0C3B78;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
 }
header nav a{
    float: left;
    text-align: center;
    display: fixed;
    padding: 20px 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
header nav a:hover{
    background-color:#ffdd00;
    color: #0c4c50;
    box-shadow: 0px 0px 5px rgb(236, 255, 139);
    transition:0.8s;
    filter:drop-shadow(0px 0px 5px rgb(237, 252, 172));
    scale:105%;
    text-align: center;
}



section.home{
    background-color: #376baf;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 650px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 300px;
    padding-left: 10px;
}
section.home .boxy {  
    display: flex;
    text-align: center;
    padding:10px 15px;
    align-items: center;
    font-weight: bolder;
    transform: translateX(-600px);
    width: 100px;
    height: 100px;
    font-size: larger;
    background-color:#d4d406 ;
    color: #ffffff;
    border-radius: 20px;
    border-radius: 100%;
    position: absolute;
}
section.home .boxy h1{
    font-size: 80px;
    margin-top: 40px;
    animation: slidein 1s;
}
section.home .boxy h3{
    font-size: 25px;
    transform: translateY(-130%);
    animation: slidein 1.2s;
}

@keyframes slidein{
    from{
        transform:translateX(-100%);

    }

    to{
        
    }
}

section.home .ad{
    display: flex;
    align-items: center;
    transform: translateY(-30%);
}
section.home .ad img{
    background-color: #344d99;
    box-shadow: 0px 0px 20px rgb(174, 180, 0);
    border-radius: 100%;
    display: flex;
    align-items: center;
    width: 520px;
    height: 520px;
    left: 100px;
    transform: translatex(75%);
    z-index: 0;
}

section.home .ad img:hover{
    background-color: #3162ab;
    scale: 105%;
    transition: 0.5s;
    box-shadow: 0px 0px 90px rgb(0, 0, 0);
}


section.home .button1 button{
    color:#6dcacf;
    float: left;
    font-family: monospace;
    position: absolute;
    outline: none;
    border: none;
    font-weight: bolder;
    transform: scale(1.3);
    padding: 10px 20px;
    left: 40%;
    top: 65%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(212, 255, 0);  
    background-color:#1f6e8d;
}
section.home .button2 button{
    color:#6dcacf;
    float: left;
    font-family: monospace;
    position: absolute;
    outline: none;
    border: none;
    transform: scale(1.3);
    font-weight: bolder;
    padding: 10px 20px;
    left: 30%;
    top: 65%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(212, 255, 0);  
    background-color:#1f6e8d;
}
section.home button:hover{
    background-color: #4f7251;
    color: rgb(225, 255, 0);
    scale: 120%;
    transition: 0.5s;
    box-shadow: 0px 0px 5px rgb(0, 66, 16);

}

.box div {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;

}
.box div:nth-child(1){
    top: 00%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 00%;
    left: 80%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 00%;
    left: 83%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 00%;
    left: 50%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(5){
    top: 00%;
    left: 25%;
    animation: animate 13s linear infinite;
}
.box div:nth-child(6){
    top: 00%;
    left: 80%;
    animation: animate 8s linear infinite;
}
.box div:nth-child(7){
    top: 00%;
    left: 1%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(8){
    top: 0%;
    left: 52%;
    animation: animate 5s linear infinite;
} 
.box div:nth-child(9){
    top: 0%;
    left: 45%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(10){
    top: 0%;
    left: 27%;
    animation: animate 4s linear infinite;
}
.box div:nth-child(11){
    top: 0%;
    left: 13%;
    animation: animate 8s linear infinite;
}
.box div:nth-child(12){
    top: 0%;
    left: 87%;
    animation: animate 8s linear infinite;
}
.box div:nth-child(13){
    top: 0%;
    left: 23%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(14){
    top: 0%;
    left: 35%;
    animation: animate 19s linear infinite;
}
.box div:nth-child(15){
    top: 0%;
    left: 17%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(16){
    top: 0%;
    left: 52%;
    animation: animate 4s linear infinite;
}
.box div:nth-child(17){
    top: 0%;
    left: 78%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(18){
    top: 0%;
    left: 70%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(19){
    top: 0%;
    left: 2%;
    animation: animate 21s linear infinite;
}
.box div:nth-child(20){
    top: 0%;
    left: 17%;
    animation: animate 7s linear infinite;
}



.bob div {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color:rgb(240, 255, 165);
    border: 6px solid rgb(253, 255, 221);
    border-radius: 100px;
    box-shadow: 0px 0px 10px white;
    

}
.bob div:nth-child(1){
    top: 00%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.bob div:nth-child(2){
    top: 00%;
    left: 80%;
    animation: animate 7s linear infinite;
}
.bob div:nth-child(3){
    top: 00%;
    left: 83%;
    animation: animate 9s linear infinite;
}
.bob div:nth-child(4){
    top: 00%;
    left: 50%;
    animation: animate 12s linear infinite;
}
.bob div:nth-child(5){
    top: 00%;
    left: 25%;
    animation: animate 13s linear infinite;
}
.bob div:nth-child(6){
    top: 00%;
    left: 80%;
    animation: animate 8s linear infinite;
}
.bob div:nth-child(7){
    top: 00%;
    left: 1%;
    animation: animate 6s linear infinite;
}
.bob div:nth-child(8){
    top: 0%;
    left: 52%;
    animation: animate 5s linear infinite;
} 
.bob div:nth-child(9){
    top: 0%;
    left: 45%;
    animation: animate 5s linear infinite;
}
.bob div:nth-child(10){
    top: 0%;
    left: 27%;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform:scale(1)translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(0.5) translateY(600px) rotate(0deg);
        opacity: 0;
    
    }
}

  
---------------------------

section.Produk{
    position: absolute  ;
    height: 8000px;
    background-color: aliceblue;
    z-index: 0;
}
section.Produk .container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}

section.Produk .container .card{
    width:400px; 
    margin:50px; 
    height: 401px; 
    padding: 10px; 
    text-align: center; 
    border-radius: 20px 20px 20px 20px;
    background-color:#4b92ef;
    box-shadow:0px 0px 20px #0C3B78;
    color: aliceblue;
    z-index: 0;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}
@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(-100px);
        scale: 0.9;
    }
    to{
        opacity: 100%;
        transform: translateX(0px);
        scale: 1;
    }
}
section.Produk .container .card img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    z-index: 2;
}
section.Produk .container .card .button3 button{
    color:#6dcacf;
    float: left;
    font-family: monospace;
    position: absolute;
    outline: none;
    border: none;
    font-weight: bolder;
    transform: scale(1);
    padding: 10px 20px;
    transform: translate(-50%);
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(212, 255, 0);  
    background-color:#1f6e8d;
}
section .Produk .card .name{
    font-family:'impact';
    z-index: 0;
}
section.Produk .card .desc{
    font-family: Caveat;
    font-size: 20px;
}

section.Produk .container .card:hover img{
    scale: 120%;
    transform:translatey( -30%) ; 
    border-radius: 10px;
    transition: 0.2s;
    overflow: visible;
    z-index: 2;
}
section.Produk .container .card:hover .desc{
    scale: 101%;
    transition: 0.2s;
    transform: translatey(-80%);
}
section.Produk .container .card:hover .name{
    scale: 190%;
    font-weight: bolder;
    transform:translate( 20%, -130%) ; 
    transition: 0.2s;
    overflow: visible;
    background-color: rgba(240, 248, 255, 0.456);
    color: #0C3B78;
    justify-content: center;
    z-index: 0;
}
section.Produk .container .card:hover .price{
    scale: 170%;
    transform:translatey( -130%) ; 
    transition: 0.2s;
    overflow: visible;
}
section.Produk .container .card:hover .button3{
    scale: 130%;
    transform: translateY(190%);
    transition: 0.2s;
    overflow: visible;
    align-self: center;
}
section.Produk .container .card .button3 button:hover{
    scale: 120%;
    transition: 0.2s;
    background-color: #d1ff6d;
    box-shadow: 0px 0px 20px rgb(222, 231, 168);
}


---------------------------------
footer{
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 10px 20px;
}

footer .Contain{
    margin: 10px;
}
footer .Contain .sosmed{
    background-color: white;
    color:#e6ea00 ;
    text-align: center;
    padding: 5px 20px;
}
footer button{
    background-color: #70a0df;
    color: #ffff21;
    box-shadow: 0px 0px 10px#a3e8ec;
    border-radius: 20px;
    border-color: transparent;
    size: (1.5);
    padding: 20px 25px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'times new roman';
}

footer nav a{ 
    color: #ffff21;
    text-decoration: none;
}
footer .Contain .sosmed button:hover{
    background-color: #4f5172;
    scale: 120%;
    transition: 0.5s;
    border-radius: 20px;
}
footer .Manager{
    background-image:url("LOMON_FIX-removebg-preview.png") ;
    background-repeat: 0;
    background-color: #3451b8;
    text-align: center;
    padding: 50px 20px;
    font-family: 'times new roman';
    height: 450px;
}
footer .Manager button:hover{
    background-color: #2b2f64;
    color: rgb(223, 227, 187);
    scale: 120%;
    font-family: 'times new roman';
    transition: 0.5s;

}
footer .Manager .imas {
    height: 320px;
    width: 265px;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 05px;
    border-radius: 10px;
    text-align: center;
    transform: translate(200%);  
}


footer .imas img{
    height: 300px;
    width: 250px;
    
}


