body {
    margin: 0;
    padding: 0;
 }

header {
    display: flex;
    top:0;
    width: 100%;
    height: 60px;
    background-color:#0C3B78;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
 }
nav a{
    float: left;
    text-align: center;
    display: fixed;
    padding: 20px 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    background-color:#ffdd00;
    color: #0c4c50;
    box-shadow: 0px 0px 5px rgb(236, 255, 139);
    transition:0.8s;
    filter:drop-shadow(0px 0px 5px rgb(237, 252, 172));
    scale:105%;
    text-align: center;
}
